/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/python-behave-example.iml
/.idea/vcs.xml
/.idea/.gitignore
QUERY/__pycache__/
MODEL/__pycache__/
REPOSITORY/__pycache__/
/.idea/misc.xml
